header, nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#logga{
    width: 15%;
}
#skugga{
    width:100%
}

#beskrivning{
    font-size: 23px;
    text-align: center;
    margin-top: -5%;
}
nav{
    font-size: 23px;
    margin-left: 20%;
    margin-top: -10%;
}

article{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;

}

article img{
    width: 100%;
    height: 100;
}

.textHöger, .textVänster{
    font-size: 23px;
    margin: 0%;
}

.dockBeskrivning{
    margin: 0%;
    width: 70%;
    color: grey;
    margin-bottom: 15%;
}

article:hover{
    opacity: 50%;
}

#kundvagn:hover{
    opacity:50%;
}

/* ipad */
@media (min-width:600px)  {
    article img{
        width: 100%;
        height: 100;
    }
    header{
        display: flex;
        flex-direction: row;
        margin: 0%;
        gap:20px;
    }
    article{
        width: 40%;
        margin-left: 3%;
        margin-right: 3%;
    }
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    header h1{
        font-size: 50px;
    }
    #logga{
        height: 10%;
        width: 10%;
    }
    .textVänster, .textHöger, #beskrivning{
        font-size: 30px;
    }
    nav{
        font-size: 25px;
        margin-left: 0%;
        margin-top: 3%;
    }  
}

/* desktop */
@media (min-width:1025px) {
    article{
        width: 27%;
    }
    #logga{
        width: 7.5%;
    }
    header{
        gap:75px;
    }
    header h1{
        font-size: 60px;
    }
    header p{
        font-size: 30px;
    }
    nav{
        margin-top: 2%;
    }
}